body{
    margin: 0px;
    font-family: sans-serif;
}
#page {
    background: #353336;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    padding: 10px 20px 10px 20px;
    background-color: #161618;
    box-shadow: 0 -0.2vh 0 #e3ed04 inset, 0px 0px 40px 10px #161618;
    border-radius: 9px;
}

.game-header {
    padding-top: 1vmin;
    padding-bottom: 1vmin;

    display: flex;
    justify-content: space-between;
    color: #ffffff;
    height: 50;
}

.hud {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#fps-counter {
    color: #e3ed04;
    font-size:8pt;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;
}

#score-counter {
    font-size: 40px;
    left: 50%;
    position: absolute;
}

#pause {
    width: 55;
    height: 35;
    font-size: 16;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #101013;
    color: #c2c2c2;
    -moz-user-select: none;    -o-user-select: none;    -khtml-user-select: none;    -webkit-user-select: none;    user-select: none;

    box-shadow:0px -2px 0 #e3ed04 inset;
    transition:all 0.3s;
}

#pause:hover {
    box-shadow:0px -4px 0 #e3ed04 inset;
    cursor: pointer;
}

#my-canvas {
    display: block;
    border-radius: 5px;
}

.canvas-wrapper {
    border-radius: 10px;
    border-top: 4px solid rgb(141, 141, 141);
    border-right: 4px solid rgb(141, 141, 141);
    border-left: 4px solid rgb(141, 141, 141);
    position: relative;
}

.ui-in-canvas{
    width: 70%;
    height: 60%;

    margin: auto;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    position: absolute;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#continue {
    margin: auto;
    width: 200px;
    height: 46px;
    display: none;

    border-radius: 15px;
    background: #101013dc;
    border: none;
    color: #c2c2c2;

    box-shadow:0px -2px 0 #e3ed04 inset;
    transition:all 0.3s;
}
#continue:hover{
    box-shadow:0px -5px 0 #e3ed04 inset;
  }
#game-over{
    top: 40%;
    left: calc(50% - 150px);
    width: 300px;
    height: 100px;

    position: absolute;
    display: none;

    border-radius: 15px;
    background: #101013dc;
}

#you-lose{
    color: #c2c2c2;
    text-align: center;
}

#restart{
    width: 104px;
    height: 30px;
    margin-left: calc(50% - 50px);
    border-radius: 8px;
    background: #070708dc;
    border: none;
    color: #c2c2c2;

    box-shadow:0px -2px 0 #e3ed04 inset;
    transition:all 0.3s;
}

#restart:hover{
    box-shadow:0px -4px 0 #e3ed04 inset;
}

#level-menu{
    width: auto;
    height: auto;
    
    padding: 10px;

    color: #c2c2c2;

    border-radius: 8px;
    background: #070708dc;

    box-shadow:0px -2px 0 #e3ed04 inset;
    transition:all 0.3s;
}

#levels-label{
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 2rem;
    text-align: center;
    color: #c2c2c2;
}

#list-levels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.level-buttoms{
    width: auto;
    height:auto;

    padding: 6%;

    margin: 1%;

    flex-basis: 15%;

    border: none;
    outline: none;
    border-radius: 10px;
    background: #101013;
    
    box-shadow:0px -0.3vh 0 #e3ed04 inset;
    transition:all 0.3s;
}


.level-buttoms:hover {
    box-shadow:0px -0.8vh 0 #e3ed04 inset;
    cursor: pointer;
}
.level-buttoms p{
    width: 20px;
    height: 20px;

    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: #c2c2c2;
}


.footer {
    margin-top: 5px;
    display: flex;
    justify-content: end;
    color: #747474;
}

#version {
    font-size: 12px;
}

#half-screen-button{
    border: none;
    outline: none;
    border-radius: 10px;
    background: #101013;
    color: #c2c2c2;
    cursor: pointer;
}

#size-map {
    font-size: 12px;
}